data/wsdl/ATBWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ATBWebService"
 targetNamespace="urn:ATBWebService"
 xmlns:tns="urn:ATBWebService"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:ATBWebService"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:ATBWebService"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:ATBWebService"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="SegmentInputType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="fields" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <complexType name="DataSourceInputType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="DatasourceInputVector">
   <sequence>
     <element name="fields" type="ns:DataSourceInputType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="FieldType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="values" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <complexType name="SegmentResponseType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="fields" type="ns:FieldType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="DatasourceSegmentsInputType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="segments" type="ns:SegmentInputType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="DatasourceSegmentsResponseType">
   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="segments" type="ns:SegmentResponseType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="DataType">
   <sequence>
     <element name="datasource_name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="reference" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="data" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="rollover_attributes" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="PulledDataType">
   <sequence>
     <element name="applicant" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="data" type="ns:DataType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="DatasourceType">
    <choice>
     <element name="raw" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="data_id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="datasource_inputs" type="ns:DataSourceInputType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
    </choice>
  </complexType>
  <complexType name="ApplicantType">
   <sequence>
     <element name="applicants" type="ns:DatasourceType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="CallATBRequestType">
   <sequence>
     <element name="datasources" type="ns:ApplicantType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
     <element name="system_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
     <element name="virtual_datasource_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
     <element name="attributes" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
     <element name="datasource_segments" type="ns:DatasourceSegmentsInputType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     <element name="profile_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ATBResponseType">
   <sequence>
     <element name="datasource_segments" type="ns:DatasourceSegmentsResponseType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     <element name="attributes" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pulled_data" type="ns:PulledDataType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="DataSourceInputTypeVector">
   <sequence>
     <element name="inputs" type="ns:DataSourceInputType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="CallATBRequestTypeVector">
   <sequence>
     <element name="transaction_id" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
     <element name="requests" type="ns:CallATBRequestType" minOccurs="1" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="CallATBResponseType">
   <sequence>
     <element name="transaction_id" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/>
     <element name="response" type="ns:ATBResponseType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionApplicantType">
   <sequence>
     <element name="ato" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="request_mapping" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionDatasourceTypeVector">
   <sequence>
     <element name="datasource_name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="transaction_applicants" type="ns:TransactionApplicantType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     <element name="merged_applicants" type="ns:TransactionApplicantType" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionRequestTypeVector">
   <sequence>
     <element name="transaction_datasources" type="ns:TransactionDatasourceTypeVector" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
     <element name="virtual_datasource_name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="virtual_response" type="ns:TransactionApplicantType" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="TransactionCallTypeVector">
   <sequence>
     <element name="transaction_calls" type="ns:TransactionRequestTypeVector" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="callATB">
   <complexType>
    <sequence>
     <element name="call" type="ns:CallATBRequestTypeVector" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="CallATBResponseTypeVector">
   <complexType>
    <sequence>
     <element name="return" type="ns:CallATBResponseType" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getData">
   <complexType>
    <sequence>
     <element name="parameters" type="xsd:positiveInteger" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getDataResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:base64Binary" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getTransactionATO">
   <complexType>
    <sequence>
     <element name="trs_id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="user" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="TransactionResponseTypeVector">
   <complexType>
    <sequence>
     <element name="transaction_response" type="ns:TransactionCallTypeVector" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getComparisonATO">
   <complexType>
    <sequence>
     <element name="trs_id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="user" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="performIncreaseScoreByX_full">
   <complexType>
    <sequence>
     <element name="data" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="datasource_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="system_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="score_xpoint" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="transaction_signature" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ATBIncreaseXFullResponseType">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="performBestUseOfCash_full">
   <complexType>
    <sequence>
     <element name="data" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="datasource_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="max_cash" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="system_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="transaction_signature" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ATBBestUseOfCashFullResponseType">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getScore">
   <complexType>
    <sequence>
     <element name="data" type="xsd:base64Binary" minOccurs="1" maxOccurs="1" nillable="false"/>
     <element name="datasource_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="modified" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="system_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="ATBGetScoreResponseType">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="getParsedDataRequest">
 <part name="data" type="xsd:base64Binary"/>
 <part name="datasource_name" type="xsd:string"/>
 <part name="segments_list" type="xsd:string"/>
</message>

<message name="getParsedDataResponse">
 <part name="result" type="xsd:base64Binary"/>
</message>

<message name="getAttributesRequest">
 <part name="data" type="xsd:string"/>
 <part name="datasource_name" type="xsd:string"/>
 <part name="system_name" type="xsd:string"/>
 <part name="attributes_list" type="xsd:string"/>
</message>

<message name="getAttributesResponse">
 <part name="result" type="xsd:string"/>
</message>

<message name="callDataSourceRequest">
 <part name="datasource_name" type="xsd:string"/>
 <part name="inputs" type="ns:DataSourceInputTypeVector"/>
</message>

<message name="callDataSourceResponse">
 <part name="result" type="xsd:base64Binary"/>
</message>

<message name="callATB">
 <part name="parameters" element="ns:callATB"/>
</message>

<message name="CallATBResponseTypeVector">
 <part name="parameters" element="ns:CallATBResponseTypeVector"/>
</message>

<message name="getDataRequest">
 <part name="parameters" element="ns:getData"/>
</message>

<message name="getDataResponse">
 <part name="parameters" element="ns:getDataResponse"/>
</message>

<message name="getTransactionATO">
 <part name="parameters" element="ns:getTransactionATO"/>
</message>

<message name="TransactionResponseTypeVector">
 <part name="parameters" element="ns:TransactionResponseTypeVector"/>
</message>

<message name="getComparisonATO">
 <part name="parameters" element="ns:getComparisonATO"/>
</message>

<message name="getATBConfiguration">
 <part name="configType" type="xsd:string"/>
</message>

<message name="ATBGetConfigurationResponseType">
 <part name="code" type="xsd:int"/>
 <part name="message" type="xsd:string"/>
 <part name="result" type="xsd:base64Binary"/>
</message>

<message name="setATBConfiguration">
 <part name="zippedConfiguration" type="xsd:base64Binary"/>
</message>

<message name="ATBConfigurationResponseType">
 <part name="code" type="xsd:int"/>
 <part name="message" type="xsd:string"/>
</message>

<message name="performIncreaseScoreByX_full">
 <part name="parameters" element="ns:performIncreaseScoreByX_full"/>
</message>

<message name="ATBIncreaseXFullResponseType">
 <part name="parameters" element="ns:ATBIncreaseXFullResponseType"/>
</message>

<message name="performBestUseOfCash_full">
 <part name="parameters" element="ns:performBestUseOfCash_full"/>
</message>

<message name="ATBBestUseOfCashFullResponseType">
 <part name="parameters" element="ns:ATBBestUseOfCashFullResponseType"/>
</message>

<message name="getScore">
 <part name="parameters" element="ns:getScore"/>
</message>

<message name="ATBGetScoreResponseType">
 <part name="parameters" element="ns:ATBGetScoreResponseType"/>
</message>

<portType name="ATBWebServicePortType">
 <operation name="getParsedData">
  <documentation>Service definition of function ns__getParsedData</documentation>
  <input message="tns:getParsedDataRequest"/>
  <output message="tns:getParsedDataResponse"/>
 </operation>
 <operation name="getAttributes">
  <documentation>Service definition of function ns__getAttributes</documentation>
  <input message="tns:getAttributesRequest"/>
  <output message="tns:getAttributesResponse"/>
 </operation>
 <operation name="callDataSource">
  <documentation>Service definition of function ns__callDataSource</documentation>
  <input message="tns:callDataSourceRequest"/>
  <output message="tns:callDataSourceResponse"/>
 </operation>
 <operation name="callATB">
  <documentation>Service definition of function ns__callATB</documentation>
  <input message="tns:callATB"/>
  <output message="tns:CallATBResponseTypeVector"/>
 </operation>
 <operation name="getData">
  <documentation>Service definition of function ns__getData</documentation>
  <input message="tns:getDataRequest"/>
  <output message="tns:getDataResponse"/>
 </operation>
 <operation name="getTransactionATO">
  <documentation>Service definition of function ns__getTransactionATO</documentation>
  <input message="tns:getTransactionATO"/>
  <output message="tns:TransactionResponseTypeVector"/>
 </operation>
 <operation name="getComparisonATO">
  <documentation>Service definition of function ns__getComparisonATO</documentation>
  <input message="tns:getComparisonATO"/>
  <output message="tns:TransactionResponseTypeVector"/>
 </operation>
 <operation name="getATBConfiguration">
  <documentation>Service definition of function ns__getATBConfiguration</documentation>
  <input message="tns:getATBConfiguration"/>
  <output message="tns:ATBGetConfigurationResponseType"/>
 </operation>
 <operation name="setATBConfiguration">
  <documentation>Service definition of function ns__setATBConfiguration</documentation>
  <input message="tns:setATBConfiguration"/>
  <output message="tns:ATBConfigurationResponseType"/>
 </operation>
 <operation name="performIncreaseScoreByX_full">
  <documentation>Service definition of function ns__performIncreaseScoreByX_USCOREfull</documentation>
  <input message="tns:performIncreaseScoreByX_full"/>
  <output message="tns:ATBIncreaseXFullResponseType"/>
 </operation>
 <operation name="performBestUseOfCash_full">
  <documentation>Service definition of function ns__performBestUseOfCash_USCOREfull</documentation>
  <input message="tns:performBestUseOfCash_full"/>
  <output message="tns:ATBBestUseOfCashFullResponseType"/>
 </operation>
 <operation name="getScore">
  <documentation>Service definition of function ns__getScore</documentation>
  <input message="tns:getScore"/>
  <output message="tns:ATBGetScoreResponseType"/>
 </operation>
</portType>

<binding name="ATBWebService" type="tns:ATBWebServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getParsedData">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getAttributes">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="callDataSource">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="callATB">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getData">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getTransactionATO">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getComparisonATO">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getATBConfiguration">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setATBConfiguration">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ATBWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="performIncreaseScoreByX_full">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="performBestUseOfCash_full">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getScore">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="ATBWebService">
 <documentation>gSOAP 2.7.9l generated service definition</documentation>
 <port name="ATBWebService" binding="tns:ATBWebService">
  <SOAP:address location="http://localhost:8080/"/>
 </port>
</service>

</definitions>
