src/RentJeeves/LandlordBundle/Tests/Fixtures/InboundApplicationConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InboundConfiguration" nillable="true" type="InboundConfiguration" />
  <xs:complexType name="InboundConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InboundApplicationConfigurations" type="ArrayOfInboundApplicationConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfInboundApplicationConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InboundApplicationConfiguration" nillable="true" type="InboundApplicationConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundApplicationConfiguration">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="LocationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantDbaName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantEmail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantWebsiteAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantFax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantCustomerServiceNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporatePhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateFax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadquartersName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadquartersPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadquartersFax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateBusinessAcquired" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateBusinessStarted" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateAcceptingCreditCardsStarted" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PercentSalesChargebacks" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PercentSalesReturned" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentProcessor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrentMID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FuelSupplierCompany" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AffiliatePartnerId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelationshipManagerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelationshipManagerPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantPrimaryContactName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantPrimaryContactPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantSecondaryContactName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantSecondaryContactPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantStoreNumber" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="MerchantNumberOfLocations" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankAddress" type="Address" />
      <xs:element minOccurs="0" maxOccurs="1" name="CorporateAddress" type="Address" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadquartersAddress" type="Address" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantAddress" type="Address" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnerOfficers" type="ArrayOfOwnerOfficer" />
      <xs:element minOccurs="0" maxOccurs="1" name="MerchantAccount" type="ArrayOfMerchantAccount" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsState" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfOwnerOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnerOfficer" nillable="true" type="OwnerOfficer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerOfficer">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EquityOwnership" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LengthAtHomeAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HomePhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CellPhone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DriversLicenseNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SSN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnerOfficerAddress" type="Address" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfMerchantAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MerchantAccount" nillable="true" type="MerchantAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MerchantAccount">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransitRouterAbaNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FundsTransferMethod" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountType" type="xs:string" />
    </xs:all>
  </xs:complexType>
</xs:schema>